<ion-view>
 <!-- <ion-nav-title>
 	<font size="5" color="white" font face="Franklin Gothic Medium">MAC Executive Flash</font>
 		</ion-nav-title> -->
  <ion-content class="padding">

    <link rel="stylesheet" type="text/css" href="../static/splunkjs/css/bootstrap.css"/>

    <script src="../static/splunkjs/config.js"></script>

    <!-- <h1 style="font-size:200%;" align="center;">Regional Sales</h1> -->
    <h1 align="center" style="font-size:150%;">State Sales</h1>
    <!-- <a href="templates/tab-chats.html" onclick="location.href=this.href+'?key='+link;return false;"></a> -->
    <!-- /*<style>
    h1 {
    	size: 10;
    	font: "Franklin Gothic Medium";
    }
    </style>*/ -->
    <div style="{ width: 100%; }" id="mychart"></div>

  </ion-content>
</ion-view>
