<ion-view>
  <ion-content>
  <link rel="stylesheet" type="text/css" href="../static/splunkjs/css/bootstrap.css"/>

    <script src="../static/splunkjs/config.js"></script>
  <h1 align="center" style="font-size:150%;">Store Sales</h1>
  <div style="{ width: 100%; }" id="regionTable"></div>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
