.nav-bar-block, .bar {
	background-color: inherit !important;
	padding: 15px 15px;
}

.tabs-positive > .tabs {
  background-color: black !important;
}

.tabs .tab-item .icon.state {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  width: 100%;
  background-image: url("../img/statesIcon.png");
  background-size:contain;
}

.tabs .tab-item .icon.store {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  width: 100%;
  background-image: url("../img/storeIcon.png");
  background-size:contain;
}

.tabs .tab-item .icon.drawer {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 60%;
  width: 100%;
  background-image: url("../img/drawerIcon.png");
  background-size:23%;
}

.stateTable {
  display: none;
}

table {
  text-align: center;
  font-size: 72%;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

table td {
  border: 1px solid gray;
  padding: 3px;
  vertical-align: middle;
  line-height: 120%;
  height: 40px;
  position: relative;
}

table td a {
  height: 100%;
  width: 100%;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

table tr:first-child, table tr:first-child td {
  font-weight: bold;
  font-style: italic;
  border-top: 0;
}

table tr:last-child, table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child, table tr th:first-child {
  border-left: 0;
}

table tr td:last-child, table tr th:last-child {
  border-right: 0;
}